:root {
  /* Light mode colors */
  --bg-color: #ffffff;
  --text-color: #000000;
  --card-bg: #e0e0e0;
  --selected-card-bg: #fff;
  --success-color: #a5d6a7;
  --failure-color: #ef9a9a;

  /* Button colors */
  --button-bg: #e0e0e0;
  --button-text: #000000;
  --button-hover-bg: #d0d0d0;
}

:root.dark-mode {
  /* Dark mode colors */
  --bg-color: #121212;
  --text-color: #ffffff;
  --card-bg: #424242;
  --selected-card-bg: #666;
  --success-color: #2e7d32;
  --failure-color: #c62828;

  /* Button colors */
  --button-bg: #333333;
  --button-text: #ffffff;
  --button-hover-bg: #444444;
  --answer-button-text: #000;
}

html,
body {
  font-family: "Muli", Roboto, sans-serif;
  font-weight: 200;
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

button {
  background-color: var(--button-bg);
  color: var(--button-text);
  border: none;
  border-radius: 12px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
